<style>
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

header {
text-align: center;
color: white;
font-family: 'Shadows Into Light', cursive;
}
img {
  border: solid white;
  border-radius: 50px;
}
body {
  font-family: arial;
  color: red;
  background: purple;
}
</style>
